body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ant-table-row {
  background-color: #d9d9d9;
  cursor: pointer;
}

.table-row-selected {
  background-color: #bae7ff;
  cursor: default;
}

.leaflet-container {
  width: 75vw;
  height: min(75vw, 100vh);
  margin: auto;
}

.loading {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: normal;
  align-content: normal;
}

@media (max-width:1600px) {
  .leaflet-container {
    width: 65vw;
    height: min(65vw, 100vh);
  }
}

@media (max-width:1200px) {
  .leaflet-container {
    width: 50vw;
    height: min(50vw, 100vh);
  }
}

@media (max-width: 992px) {
  main {
    flex-direction: column;
  }

  .leaflet-container {
    width: 100vw;
    height: min(100vw, 100vh);
  }
}